@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}

#game {
  background-image: url("../public/images/landscape.svg");
  width: 90%;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 0 50px #00000044;
  margin: auto;
  margin-top: 100px;
  font-family: 'Bangers', cursive;
  text-align: center;
  position: relative;
}

h1 {
  background: rgb(255, 42, 114);
  background: linear-gradient(90deg, rgba(255, 42, 114, 1) 0%, rgba(170, 104, 255, 1) 50%, rgba(255, 129, 45, 1) 100%);
  background-clip: text;
  background-size: 200% 100%;
  background-position: left;
  color: transparent;
  display: inline-block;
  padding: 0 10px;
  text-shadow: 0 10px 20px rgba(255, 166, 0, 0.5);
  font-size: 60px;
  transform: translateY(-50%);
  font-weight: normal;
  transition: 0.6s;
}

h1:hover {
  background-position: right;
  cursor: pointer;
  transform: translateY(-50%) rotate(-1deg);
  text-shadow: 0 10px 50px rgba(255, 166, 0, 0.5);
}

h2 {
  font-size: 60px;
  color: white;
  font-weight: normal;
  text-shadow: 0 0px 20px rgba(255, 166, 0, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
#hands{
  background-color: gold;
  overflow: hidden;
}
#hands img{
  display: block;
  width: 40%;
  float: left;
}
#hands img:last-child{
  float: right;
}

#options{
  background-color: lightblue;
}